extends layout

block contenuto
    nav.main_nav 
            ul.main_menu
                li.menu_item 
                    a.menu_link(href="/") home
                li.menu_item  
                    a.menu_link(href="/formVotazioni") vota
                li.menu_item   
                    a.menu_link(href="/votazioni") votazioni 